<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title</title>
  </head>
  <body>
    <% a = 3 %> <% b = 5%> <% if (a === b) { %>
    <p>0</p>
    <% } else { %> <% if (a > b) {%>
    <p><%=b - a%></p>
    <% } else { %>
    <p><%=a + b%></p>
    <% } %> <% } %>
  </body>
</html>
