<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (films.length == 0) { %>
    <h1>Я не смотрю фильмы</h1>
    <% } else { %>
    <ol>
      <% for(item of films) {%>
      <li><%=item%> <% } %></li>
    </ol>
    <% } %>
  </body>
</html>
