<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% bookArr = book.split(' ') %> <% console.log(bookArr) %> <% for (let i =
    0; i < bookArr.length; i++) { %> <% if(bookArr[i] == 'Мир') { %> <% t =
    'Никакой войны' %>
    <p><%return t %></p>
    <% } else { %> <% t = 'Звезда по имени Солнце' %>
    <p><%=t%></p>
    <% } %> <% } %>
  </body>
</html>
