<!-- <!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body> -->
<p><img src="images/404.png" alt="404" /></p>
<h1><%= message %></h1>
<p>
  Извините, но страница, которую вы только что открыли, недоступна. Эта страница
  не существует, была удалена или переименована
</p>
<p><a href="/">Вернуться на главную</a></p>
<!-- </body>
</html> -->
