<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1><%= title%></h1>
      <div id="hrefs">
        <a href="/">Главная</a>
        <a href="/about">О проекте</a>
        <a href="/users/reg">Регистрация</a>
        <a href="/users/authorization">Авторизация</a>

        <% if (!user) { %>
        <li><a href="/users/reg">Register</a></li>
        <li><a href="/users/authorization">Log in</a></li>
        <% } else { %>
        <a href="/chat">Chat</a>
        <a href="/users/logout">Log out</a>
      </div>
      <li>You are <%= user.name %></li>
      <% } %>
    </header>
  </body>
</html>
